################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/贪吃蛇/bin/Debug/net4.5
/贪吃蛇/obj
/.vs
/贪吃蛇/.vs/贪吃蛇
